PORT=3000
NODE_ENV=development

DB_HOST=localhost
DB_PORT=5432
DB_NAME=profilsactifs
DB_USER=postgres
DB_PASSWORD=postgres

JWT_SECRET='N UTILISEZ PAS CETTE VALEUR. CRÉEZ PLUTÔT UN SECRET COMPLEXE ET GARDEZ-LE EN SÉCURITÉ EN DEHORS DU CODE SOURCE.'
JWT_EXPIRES_IN='300'